@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kaisei+Decol&family=Kaisei+Opti:wght@500;700&family=Kiwi+Maru:wght@400;500&family=Klee+One:wght@600&family=Kosugi+Maru&family=M+PLUS+2&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Noto+Sans+JP:wght@500&family=Potta+One&family=Sawarabi+Gothic&family=Shippori+Antique+B1&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@300;400;500;700;900&family=Zen+Old+Mincho:wght@700;900&display=swap');

@media only screen and (min-width: 1024px) {

    .pc {
        display: block;
    }

    .sp {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        scroll-behavior: smooth;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    .logo {
        background-color: white;
        padding-left: 100px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #top {
        position: relative;
        background-image: url('../img/top.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1283px;
        margin: 0 auto;
    }

    #top h1 img {
        position: absolute;
        margin: 0 auto;
        width: auto;
        bottom: 5%;
        right: 1%;
    }

    #navbar ul {
        background-color: #fee6f1;
        border-radius: 15px;
        padding: 25px 10px;
        margin: 60px 250px 20px;
        box-shadow: 5px 5px 5px grey;
        gap: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #navbar ul li {
        list-style: none;
        border-right: dashed 3px #ae3f57;
        padding-right: 50px;
    }

    #navbar ul li.no-border {
        list-style: none;
        border-right: 0px;
        padding-right: 0px;
    }

    #navbar a {
        text-decoration: none;
        font-family: 'Kiwi Maru', serif;
        font-size: 30px;
        color: #ae3f57;
    }

    #navbar a:hover {
        color: white;
    }

    .nav-scroll {
        position: sticky;
        top: 50px;
        z-index: 10;
    }

    #family {
        background-image: url('../img/bg-hotel.png');
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 2046px;
        top: -150px;
        margin: 0 auto;
    }

    #family h1 {
        text-align: center;
        position: relative;
        top: 15%;
    }

    #family h2 img {
        position: absolute;
        top: 14%;
        right: 7%;
    }

    #family p {
        font-family: 'Kiwi Maru', serif;
        font-size: 26px;
        opacity: 90%;
    }

    /* swiper */
    .swiper {
        width: 100%;
        height: 35%;
        padding-top: 16%;
    }

    .swiper-slide {
        text-align: left;
        font-size: 22px;
        line-height: 2.5;
        gap: 50px;
        align-items: center;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        height: auto;
    }

    .swiper-pagination-bullet-active {
        background-color: #f59bb3;
    }

    /*plan hotel*/
    .htl-btn-wrapper {
        width: 1132px;
        margin: 220px auto;
    }

    .plan-htl-1 {
        background-image: url('../img/plan1-htl.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 234px;
    }

    .plan-htl-1 p {
        text-align: center;
        color: #ac476e;
        font-size: 24px;
        font-weight: 600;
        font-family: 'Mochiy Pop P One', sans-serif;
        padding-top: 45px;
        line-height: 1.5;
        letter-spacing: 3px;
    }

    .plan-htl-1 .button img {
        margin: 15px 400px;
    }

    .plan-htl-2 {
        background-image: url('../img/plan2-htl.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 234px;
        margin-top: 80px;
    }

    .plan-htl-2 p {
        text-align: center;
        color: #7e3447;
        font-size: 24px;
        font-weight: 600;
        font-family: 'Mochiy Pop P One', sans-serif;
        padding-top: 45px;
        line-height: 1.5;
        letter-spacing: 3px;
    }

    .plan-htl-2 .button img {
        margin: 15px 400px;
    }

    .button img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    /*mama papa*/

    #mama-papa {
        position: relative;
        background-image: url('../img/bg-mama.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 2060px;
        margin-top: -200px;
    }

    #mama-papa h1 img {
        margin-left: 370px;
        width: 575px;
        margin-top: -10px;
    }

    .collage-bby {
        width: 1150px;
        margin: 0 auto;
    }

    .collage-1 img {
        position: absolute;
        right: 425px;
        top: 17%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .collage-2 img {
        position: absolute;
        left: 425px;
        top: 22%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .collage-3 img {
        position: absolute;
        right: 425px;
        top: 37%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .collage-4 img {
        position: absolute;
        left: 425px;
        top: 42%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .decor-bby-1 img {
        position: absolute;
        top: 13%;
        right: 18%;
        z-index: 5;
        width: 180px;
        height: auto;
    }

    .decor-bby-2 img {
        position: absolute;
        top: 19%;
        left: 18%;
        z-index: 25;
        width: 180px;
        height: auto;
    }

    .decor-bby-3 img {
        position: absolute;
        top: 50%;
        right: 18%;
        z-index: 5;
        width: 150px;
        height: auto;
    }

    .decor-bby-4 img {
        position: absolute;
        top: 55%;
        left: 18%;
        z-index: 25;
        width: 180px;
        height: auto;
    }

    .lead-bby-wrapper {
        width: 1355px;
        margin: 0 auto;
    }

    .lead-bby {
        background-image: url('../img/lead-bby.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 1355px;
        height: 295px;
        margin-top: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead-bby p {
        text-align: justify;
        font-family: 'Kiwi Maru', serif;
        padding: 50px 110px;
        line-height: 2.5;
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .plan-bby-wrapper {
        width: 1132px;
        margin: 0 auto;
    }

    .plan-bby {
        background-image: url('../img/plan-bby.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 236px;
        margin: 80px auto;
    }

    .plan-bby p {
        text-align: center;
        font-family: 'Mochiy Pop P One', sans-serif;
        color: #ac476e;
        font-size: 34px;
        padding-top: 60px;
        letter-spacing: 7px;
    }

    .plan-bby .button img {
        margin: 20px 405px;
    }

    /* Hotel camp */
    #camp-hotel {
        background-image: url('../img/htl-camp.png');
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 1235px;
        margin: 0 auto;
    }

    .camp-htl-wrapper {
        width: 1380px;
        margin: 0 auto;
    }

    .camp-htl-box {
        position: absolute;
        background-color: white;
        border-radius: 40px;
        box-shadow: 5px 5px 5px rgb(159, 159, 159);
        width: 1380px;
        height: 745px;
        margin-top: 100px;
    }

    .camp-htl-box h1 img {
        position: absolute;
        top: 25px;
        left: 28%;
    }

    /* Swiper camp-hotel */
    .swiper-camp {
        width: 1235px;
        justify-content: center;
        margin-top: 235px;
        margin-left: 70px;
        margin-right: 70px;
        overflow: hidden;
    }

    .swiper-camp .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-camp .swiper-slide img {
        width: 50%;
        border: solid #fbd1dc 5px;
        border-radius: 5px;
        margin-left: 0;
    }

    .swiper-btn-camp {
        position: relative;
        width: 1330px;
        bottom: 140px;
        margin: 0 auto;
    }

    .swiper-btn-camp .swiper-button-next {
        color: #fbd1dc;
    }

    .swiper-btn-camp .swiper-button-prev {
        color: #fbd1dc;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        opacity: 0.2;
    }

    .camp-caption {
        text-align: center;
        font-size: 24px;
        font-family: 'Kosugi Maru', sans-serif;
        line-height: 2;
        letter-spacing: 2px;
        padding-top: 35px;
    }

    /* plan camp */
    .plan-camp-wrapper {
        width: 1380px;
        margin-top: 0 auto;
    }

    .plan-camp-1 {
        background-image: url('../img/plan-camp.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 660px;
        height: 215px;
        margin-top: 930px;
    }

    .plan-camp-1 p {
        font-size: 15px;
        padding: 40px 50px;
        font-family: 'Mochiy Pop P One', sans-serif;
        line-height: 2;
        letter-spacing: 1px;
    }

    .plan-camp-1 p span {
        color: white;
        -webkit-text-stroke: #298b61 1.5px;
    }

    .plan-camp-1 .button img {
        position: absolute;
        margin-left: 390px;
        margin-top: -100px;
    }

    .plan-camp-2 {
        background-image: url('../img/plan-camp.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 660px;
        height: 215px;
        margin-top: 930px;
        margin-left: 730px;
    }

    .plan-camp-2 p {
        font-size: 15px;
        padding: 40px 50px;
        font-family: 'Mochiy Pop P One', sans-serif;
        line-height: 2;
        letter-spacing: 1px;
    }

    .plan-camp-2 p span {
        color: white;
        -webkit-text-stroke: #331675 1.5px;
    }

    .plan-camp-2 .button img {
        position: absolute;
        margin-top: -100px;
        margin-left: 390px;
    }

    /* bufe */
    #bufe {
        background-image: url('../img/bg-bufe-footer.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 3100px;
        position: relative;
    }

    .bufe-wrapper {
        width: 1235px;
        margin: 0 auto;
    }

    #bufe h1 {
        position: absolute;
        margin: 100px auto;
    }

    /* swiper bufe */
    .swiper-bufe {
        position: relative;
        width: 760px;
        height: 600px;
        margin: 0 auto;
        top: 330px;
        overflow: hidden;
    }

    .bufeSwiper .swiper-wrapper {
        position: relative;
        bottom: 35%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    .swiper-bufe .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .bufeSwiper2 .swiper-slide img {
        display: block;
        width: 734px;
    }

    .bufeSwiper .swiper-slide img {
        display: block;
        width: 225px;
    }

    .bufeSwiper .swiper-slide-thumb-active img {
        border: solid #6775b8 3px;
        padding: 8px;
    }

    .swiper-btn-bufe {
        position: relative;
        width: 950px;
        margin: 0 auto;
        bottom: 185px;
    }

    .swiper-btn-bufe .swiper-button-next,
    .swiper-button-prev {
        color: #6775b8;
    }

    .honbun-bufe {
        width: 1020px;
        position: relative;
        margin: 0 auto;
        text-align: justify;
        font-family: 'Kiwi Maru', serif;
        font-size: 23px;
        line-height: 2;
        border: dashed #6775b8 5px;
        border-radius: 15px;
        padding: 35px 50px;
        font-weight: 600;
    }

    .review-wrapper {
        width: 1130px;
        margin: 0 auto;  
        text-align: center;
    }

    .review-bufe {
        position: absolute;
        top: 52%;
    }

    .stars img {
        width: 35%;
    }
    .line-top {
        position: relative;
        top: 30px;
    }

    .review-bufe h3 {
        font-family: 'Zen Kurenaido', sans-serif;
        font-size: 24px;
        line-height: 1;
    }

    .honbun-review {
        background-image: url('../img/honbun-review.png');
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 782px;
        height: 243px;
        font-family: 'Kiwi Maru', serif;
        padding: 50px;
    }

    .honbun-review p {
        padding: 25px 50px;
        font-size: 22px;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1.5px;
    }

    /* footer */
    #footer {
        width: 1250px;
        margin: 0 auto;
    }

    .btn-ftr-1 {
        margin-top: 800px;
        text-align: center;
    }

    .btn-ftr-1 img {
        width: 60%;
    }

    .btn-ftr-1 p {
        text-align: center;
        padding-top: 25px;
        font-size: 22px;
        font-family: 'Sawarabi Gothic', sans-serif;
        letter-spacing: 1px;
        line-height: 2;
    }

    .btn-ftr-2-3 {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        text-align: center;
        margin-top: 65px;
    }

    .btn-ftr-2-3 img {
        width: 100%;
    }

    .btn-ftr-4 {
        margin-top: 80px;
        text-align: center;
    }

    .btn-ftr-4 img {
        width: 60%;
    }
}