@media only screen and (min-width: 1024px) {

    .pc {
        display: block;
    }

    .sp {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        scroll-behavior: smooth;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    .logo {
        background-color: white;
        padding-left: 100px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #top {
        position: relative;
        background-image: url('../img/top.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1283px;
        margin: 0 auto;
    }

    #top h1 img {
        position: absolute;
        margin: 0 auto;
        width: auto;
        bottom: 5%;
        right: 1%;
    }

    #navbar ul {
        background-color: #fee6f1;
        border-radius: 15px;
        padding: 25px 10px;
        margin: 60px 250px 20px;
        box-shadow: 5px 5px 5px grey;
        gap: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #navbar ul li {
        list-style: none;
        border-right: dashed 3px #ae3f57;
        padding-right: 50px;
    }

    #navbar ul li.no-border {
        list-style: none;
        border-right: 0px;
        padding-right: 0px;
    }

    #navbar a {
        text-decoration: none;
        font-size: 28px;
        color: #ae3f57;
    }

    #navbar a:hover {
        color: white;
    }

    .nav-scroll {
        position: sticky;
        top: 50px;
        z-index: 10;
    }

    #summary {
        background-image: url('../img/bg-hotel.png');
        position: relative;
        background-size: cover;
        height: 2046px;
        margin-top: -150px;
        z-index: -1;
    }

    #summary h1 img {
        position: absolute;
        top: 15%;
        margin-left: 600px;
    }

    #summary h2 img {
        position: absolute;
        top: 14%;
        right: 7%;
    }

    /* swiper */
    .swiper {
        width: 100%;
        height: 35%;
        padding-top: 21%;
    }

    .swiper-slide {
        text-align: left;
        font-size: 22px;
        line-height: 2.5;
        gap: 50px;
        align-items: center;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        height: auto;
    }

    /*plan hotel*/
    .htl-btn-wrapper {
        width: 1132px;
        margin: 220px auto;
    }

    .plan-htl-1 {
        background-image: url('../img/plan1-htl.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 234px;
    }

    .plan-htl-1 p {
        text-align: center;
        font-size: 22px;
        padding-top: 40px;
        line-height: 2;
        letter-spacing: 2px;
    }

    .plan-htl-1 .button img {
        margin: 10px 400px;
    }

    .plan-htl-2 {
        background-image: url('../img/plan2-htl.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 234px;
        margin-top: 80px;
    }

    .plan-htl-2 p {
        text-align: center;
        font-size: 22px;
        padding-top: 40px;
        line-height: 2;
        letter-spacing: 2px;
    }

    .plan-htl-2 .button img {
        margin: 10px 400px;
    }

    .button img:hover {
        transform: scale(1.1)
    }

    /*mama papa*/

    #mama-papa {
        position: relative;
        background-image: url('../img/bg-mama.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 2060px;
        margin-top: -70px;
    }

    #mama-papa h1 img {
        margin-left: 370px;
        width: 575px;
        margin-top: -10px;
    }

    .collage-bby {
        width: 1150px;
        margin: 0 auto;
    }

    .collage-1 img {
        position: absolute;
        right: 425px;
        top: 17%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .collage-2 img {
        position: absolute;
        left: 425px;
        top: 22%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .collage-3 img {
        position: absolute;
        right: 425px;
        top: 37%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .collage-4 img {
        position: absolute;
        left: 425px;
        top: 42%;
        border: dashed #37212b 2px;
        padding: 15px;
        width: 450px;
        height: 300px;
    }

    .decor-bby-1 img {
        position: absolute;
        top: 13%;
        right: 18%;
        z-index: 5;
        width: 180px;
        height: auto;
    }

    .decor-bby-2 img {
        position: absolute;
        top: 19%;
        left: 18%;
        z-index: 25;
        width: 180px;
        height: auto;
    }

    .decor-bby-3 img {
        position: absolute;
        top: 50%;
        right: 18%;
        z-index: 5;
        width: 150px;
        height: auto;
    }

    .decor-bby-4 img {
        position: absolute;
        top: 55%;
        left: 18%;
        z-index: 25;
        width: 180px;
        height: auto;
    }

    .lead-bby-wrapper {
        width: 1355px;
        margin: 0 auto;
    }

    .lead-bby {
        background-image: url('../img/lead-bby.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 1355px;
        height: 295px;
        margin-top: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead-bby p {
        text-align: justify;
        padding: 50px 110px;
        line-height: 2.5;
        font-size: 24px;
        letter-spacing: 2px;
    }

    .plan-bby-wrapper {
        width: 1132px;
        margin: 0 auto;
    }

    .plan-bby {
        background-image: url('../img/plan-bby.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 236px;
        margin: 80px auto;
    }

    .plan-bby p {
        text-align: center;
        font-size: 32px;
        padding-top: 65px;
        letter-spacing: 5px;
    }

    .plan-bby .button img {
        margin: 20px 405px;
    }

    /* Hotel camp */
    #camp-hotel {
        background-image: url('../img/htl-camp.png');
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 1235px;
        margin: 0 auto;
    }

    .camp-htl-wrapper {
        width: 1380px;
        margin: 0 auto;
    }

    .camp-htl-box {
        position: absolute;
        background-color: white;
        border-radius: 40px;
        box-shadow: 5px 5px 5px rgb(159, 159, 159);
        width: 1380px;
        height: 745px;
        margin-top: 100px;
    }

    .camp-htl-box h1 img {
        position: absolute;
        top: 25px;
        left: 28%;
    }

    /* Swiper camp-hotel */
    .swiper-camp {
        width: 1235px;
        justify-content: center;
        margin-top: 235px;
        margin-left: 70px;
        margin-right: 70px;
        overflow: hidden;
    }

    .swiper-camp .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-camp .swiper-slide img {
        width: 50%;
        border: solid #fbd1dc 5px;
        border-radius: 5px;
        margin-left: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: rgba(0, 0, 0, 0.42);
        border-radius: 60px;
    }

    .camp-caption {
        text-align: center;
        font-size: 22px;
        line-height: 2;
        letter-spacing: 3px;
        padding-top: 50px;
    }

    /* plan camp */
    .plan-camp-wrapper {
        width: 1380px;
        margin-top: 0 auto;
    }

    .plan-camp-1 {
        background-image: url('../img/plan-camp.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 660px;
        height: 215px;
        margin-top: 930px;
    }

    .plan-camp-1 p {
        position: absolute;
        font-size: 15px;
        padding: 35px 50px;
        line-height: 2;
        letter-spacing: 1px;
    }

    .plan-camp-1 p span {
        color: white;
        -webkit-text-stroke: #298b61 1px;
    }

    .plan-camp-1 .button img {
        margin-top: 100px;
        margin-left: 390px;
    }

    .plan-camp-2 {
        background-image: url('../img/plan-camp.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 660px;
        height: 215px;
        margin-top: 930px;
        margin-left: 730px;
    }
}