* {
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    background-color: white;
    padding-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#top {
    background-image: url('../img/top/top.jpg');
    width: 1920px;
    height: 1280px;
}

.title {
    position: absolute;
    top: 960px;
    left: 950px;
}

.lead {
    position: absolute;
    top: 1220px;
    left: 940px;
}